table, th, td{
    border: 2px solid lightblue;
}

th{
    font-weight: bold;
}

th, td{
    padding:0.5em;
    text-align: center;
}


.col1{
    background-color: darkgreen;
}

.col2{
    background-color: green;
}

.col3{
    background-color: lightgreen;
}

.col4{
    background-color: greenyellow;
}